footer{
    background: #f2f4f5;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer{
    display: flex;
    flex-direction: row;
}
.box-1{
    color: #003859;
    padding-right: 90px;
}
.box-1 ul li{
    font-size: 20px;
    padding: 5px 0;
    font-weight: 900;
    list-style: none;
    color: #003859;
}
.box-1 ul li a{
    text-decoration: none;
    text-decoration-line:none;
    color: #003859;
    font-size: 16px;
    padding: 10px 0;
}
.box-2{
    color: #003859;
    padding-right: 90px;
}
.box-2 ul li{
    font-size: 20px;
    padding: 5px 0;
    font-weight: 900;
    list-style: none;
    color: #003859;
}
.box-2 ul li a{
    text-decoration: none;
    text-decoration-line:none;
    color: #003859;
    font-size: 16px;
    padding: 10px 0;
}
.box-3{
    text-align: center;
}
.box-3 h6{
    color: black;
    padding-top: 5px;
    font-size: 15px;
}
.box-3 h6 span{
    color: #737575;
    font-size: 13px;
}
@media(max-width:786px){
    .playMarket{
        width: 100px;
    }
    .appStore{
        width: 100px;
    }
    .box-2{
        padding: 0;
    }
}